
@{
    ViewBag.Title = "CadastroFunc";
}

<h2>CadastroFunc</h2>
<form action="CadastroFunc" method="post">
    <label>nome do funcionario</label> <input type="text" name="txtnomefunc" id="txt1" /></br>
    <label>Cpf</label> <input type="text" name="txtcpffunc" id="txt1" /></br>
    <label>Telefone</label> <input type="text" name="txttelfunc" id="txt1" /></br>
    <label>Data de contratação</label> <input type="text" name="txtdatafunc" id="txt1" /></br>
    <label>Cargo</label> <input type="text" name="txtcargofunc" id="txt1" /></br>
    <input type="submit" class="btnok" name="btnok" id="btnok" />
</form>